<div class="jumbotron">
	<h1>Welcome to droneapp</h1>
	<p>The largest directory for dronepilots</p>
	<%= link_to "Books", books_path, class: "btn btn-primary" %>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    
  <%= render @books %>

  </div>
</div>