<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<%= image_tag "book.jpeg", class: "img img_responsive" %>
		<div class="caption">
			<h3><strong><%= book.name %></strong></h3>
			<p><%= book.price.to_f / 100 %></p>
		</div>
	</div>
</div>